*,
*::before,
*::after {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}